<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Номінація</title>
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
</head>
<body>
    <header>
        <a href="/profiles" class="btn btn-back">Назад</a>
        <h1 class="page-title">Номінація викладача</h1>
    </header>

    <form th:action="@{/profiles/add}" method="post" class="contact-form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="avatar" class="form-label">Фото</label>
            <input id="avatar" type="file" name="avatar" class="form-input" />
        </div>
        <div class="form-group">
            <label for="nickname" class="form-label">ПІБ</label>
            <input id="nickname" type="text" name="nickname" class="form-input" />
        </div>
        <div class="form-group">
            <label for="gender" class="form-label">Характер</label>
            <select id="gender" name="gender" class="form-input">
                <option value="неприємний">Неприємний</option> 
				<option value="пгресивний">Агресивний</option> 
				<option value="дратівливий">Дратівливий</option> 
				<option value="невиразний">Невиразний</option> 
				<option value="ппатичний">Апатичний</option> 
				<option value="мпокійний">Спокійний</option> 
				<option value="сутливий">Чутливий</option> 
				<option value="товариський">Товариський</option> 
				<option value="егоїстичний">Егоїстичний</option> 
				<option selected value="чарівний">Чарівний</option>
				<option value="жвавий">Жвавий</option> 
				<option value="меланхолійний">Меланхолійний</option> 
				<option value="впевнений">Впевнений</option> 
				<option value="надійний">Надійний</option> 
				<option value="врівноважений">Врівноважений</option> 
            </select>
        </div>
        <div class="form-group">
            <label for="age" class="form-label">Стаж роботи</label>
            <input id="age" type="number" name="age" class="form-input" />
        </div>
        <div class="form-group">
            <label for="city" class="form-label">Місто (філія)</label>
            <select id="city" name="city" class="form-input">
                <option value="Одеса">Одеса</option>
                <option value="Київ">Київ</option>
                <option value="Чернівці">Чернівці</option>
                <option value="Львів">Львів</option>
                <option value="Миколаїв">Миколаїв</option>
                <option value="Харків">Харків</option>
                <option value="Черкаси">Черкаси</option>
                <option value="Ужгород">Ужгород</option>
                <option value="Дніпро">Дніпро</option>
                <option value="інше місто">інше місто</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Додати в базу</button>
        </div>
    </form>
</body>
</html>

